/*
TUTO
https://www.youtube.com/watch?v=pXpckHDDNYo&list=PLpepLKamtPjiUF6PvVUbIFhx9HaS0qJs_&ab_channel=WawaSensei

*/






#root {
  width: 100%;
  height: 100vh;
  background: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}